pre.code .hll { background-color: #4f424c }
pre.code  { background: #14191f ; color: #e7e9db }
pre.code .c { color: #776e71 } /* Comment */
pre.code .err { color: #ef6155 } /* Error */
pre.code .k { color: #815ba4 } /* Keyword */
pre.code .l { color: #f99b15 } /* Literal */
pre.code .n { color: #e7e9db } /* Name */
pre.code .o { color: #5bc4bf } /* Operator */
pre.code .p { color: #e7e9db } /* Punctuation */
pre.code .ch { color: #776e71 } /* Comment.Hashbang */
pre.code .cm { color: #776e71 } /* Comment.Multiline */
pre.code .cp { color: #776e71 } /* Comment.Preproc */
pre.code .cpf { color: #776e71 } /* Comment.PreprocFile */
pre.code .c1 { color: #776e71 } /* Comment.Single */
pre.code .cs { color: #776e71 } /* Comment.Special */
pre.code .gd { color: #ef6155 } /* Generic.Deleted */
pre.code .ge { font-style: italic } /* Generic.Emph */
pre.code .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
pre.code .gi { color: #48b685 } /* Generic.Inserted */
pre.code .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
pre.code .gs { font-weight: bold } /* Generic.Strong */
pre.code .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
pre.code .kc { color: #815ba4 } /* Keyword.Constant */
pre.code .kd { color: #815ba4 } /* Keyword.Declaration */
pre.code .kn { color: #5bc4bf } /* Keyword.Namespace */
pre.code .kp { color: #815ba4 } /* Keyword.Pseudo */
pre.code .kr { color: #815ba4 } /* Keyword.Reserved */
pre.code .kt { color: #fec418 } /* Keyword.Type */
pre.code .ld { color: #48b685 } /* Literal.Date */
pre.code .m { color: #f99b15 } /* Literal.Number */
pre.code .s { color: #48b685 } /* Literal.String */
pre.code .na { color: #06b6ef } /* Name.Attribute */
pre.code .nb { color: #e7e9db } /* Name.Builtin */
pre.code .nc { color: #fec418 } /* Name.Class */
pre.code .no { color: #ef6155 } /* Name.Constant */
pre.code .nd { color: #5bc4bf } /* Name.Decorator */
pre.code .ni { color: #e7e9db } /* Name.Entity */
pre.code .ne { color: #ef6155 } /* Name.Exception */
pre.code .nf { color: #06b6ef } /* Name.Function */
pre.code .nl { color: #e7e9db } /* Name.Label */
pre.code .nn { color: #fec418 } /* Name.Namespace */
pre.code .nx { color: #06b6ef } /* Name.Other */
pre.code .py { color: #e7e9db } /* Name.Property */
pre.code .nt { color: #5bc4bf } /* Name.Tag */
pre.code .nv { color: #ef6155 } /* Name.Variable */
pre.code .ow { color: #5bc4bf } /* Operator.Word */
pre.code .w { color: #e7e9db } /* Text.Whitespace */
pre.code .mb { color: #f99b15 } /* Literal.Number.Bin */
pre.code .mf { color: #f99b15 } /* Literal.Number.Float */
pre.code .mh { color: #f99b15 } /* Literal.Number.Hex */
pre.code .mi { color: #f99b15 } /* Literal.Number.Integer */
pre.code .mo { color: #f99b15 } /* Literal.Number.Oct */
pre.code .sa { color: #48b685 } /* Literal.String.Affix */
pre.code .sb { color: #48b685 } /* Literal.String.Backtick */
pre.code .sc { color: #e7e9db } /* Literal.String.Char */
pre.code .dl { color: #48b685 } /* Literal.String.Delimiter */
pre.code .sd { color: #776e71 } /* Literal.String.Doc */
pre.code .s2 { color: #48b685 } /* Literal.String.Double */
pre.code .se { color: #f99b15 } /* Literal.String.Escape */
pre.code .sh { color: #48b685 } /* Literal.String.Heredoc */
pre.code .si { color: #f99b15 } /* Literal.String.Interpol */
pre.code .sx { color: #48b685 } /* Literal.String.Other */
pre.code .sr { color: #48b685 } /* Literal.String.Regex */
pre.code .s1 { color: #48b685 } /* Literal.String.Single */
pre.code .ss { color: #48b685 } /* Literal.String.Symbol */
pre.code .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
pre.code .fm { color: #06b6ef } /* Name.Function.Magic */
pre.code .vc { color: #ef6155 } /* Name.Variable.Class */
pre.code .vg { color: #ef6155 } /* Name.Variable.Global */
pre.code .vi { color: #ef6155 } /* Name.Variable.Instance */
pre.code .vm { color: #ef6155 } /* Name.Variable.Magic */
pre.code .il { color: #f99b15 } /* Literal.Number.Integer.Long */
