body {
     background-color: #1C1F27; 
    color: #DDECEC;
    font-size: medium;
    font-family: 'salata';
}

a {
    color: #1e8eff;
}

p {
    max-width: 640px;
    word-wrap:break-word;
}

b, strong {
    color: #ff8e1e;
    /*color: #FF2B27;*/
}

i, em, italic {
    color: #1eff8e;
}

h1, h2, h3, h4, h5 {
    font-family: 'salata';
    color: #8eff1e; 
}

@font-face {
    font-family: 'salata';
    src: url('salata.ttf') format('truetype');
}

pre, xmp, plaintext, listing {
    border-radius: 10px;
    display: inline-block;
    display: inline-block;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}
