<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="author" content="{{ .Site.Params.author }}" />
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description | default .Site.Params.description }}{{ end }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap" rel="stylesheet" />
    {{ $style := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  </head>
  <body>
    <main class="workspace-page">
      <section class="workspace-shell">
        {{ partial "topbar.html" . }}
        {{ block "main" . }}{{ .Content }}{{ end }}
      </section>
    </main>
  </body>
</html>
